body {
    margin: 0;
}

.ant-input {
    width: 99% !important;
    border: none !important;
    box-shadow: none !important;
    transition: border 0.2s ease, box-shadow 0.2s ease;
    border-radius: 0;
    &:focus {
        border: 1px solid #1890ff !important; // Màu xanh mặc định của Ant Design
        box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2); // Hiệu ứng focus nhẹ
    }
    &:hover {
        border: 1px solid #1890ff !important; // Màu xanh mặc định của Ant Design
        box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2); // Hiệu ứng focus nhẹ
    }
}

input[disabled] {
    background-color: #fff !important;
}

.custom-input-container {
    label {
        font-size: 13px;
        color: #0000008c;
        font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    }
}
.text-error {
    &::after{
        content: "\FE57";
        color: white;
        background: #da0a00;
        border-radius: 50%;
        margin: 0 4px;
        font-size: 9px;
    }
}